#impi
{
   width: 70%;
   height: 70%;
    margin: 30px;
}

.progress1
{
    height: 7px;
    border-radius: 0;
    background: #DDD;
    margin-bottom: 50px;
    margin-top: 50px;
}


    .progress-bar {
        float: left;
        width: 0%;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: #337ab7;
    }

#edu
{
    padding-bottom: 30px; 
    font-family: 'Calibri';
}